XML/templates/TolkienTemplate.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <!-- 
   This ODD is part of a study dedicated to the exploration of J.R.R. Tolkien's universe, with a focus on the names and aliases that populate his fictional world. 
   The specific focus on the Two Trees of Valinor offers insights into how Tolkien wove linguistics, mythology, and narrative coherence into his work. 
   This template can serve as a framework for encoding texts related to Tolkien's writings and can be extended to include other areas and names of his mythology. 
   Possible uses include scholarly research on Tolkien’s languages, analyzing naming conventions and their contextual relevance, and building annotated editions of his texts. 
-->

   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Tolkien Template</title>
            <author>Maëlys Gioan</author>
         </titleStmt>
         <publicationStmt>
            <authority>Maëlys Gioan</authority>
            <availability status="free">
               <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
                  Creative Commons Attribution-ShareAlike 4.0 </licence>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref
                  target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base
                  odd</ref> after an analysis of 3 files in ProjetXML_Tolkien/XML/corpus/</p>
            <p>This ODD was created as part of a study on Tolkien's universe, focusing on the names
               and aliases within it. Its purpose is to validate XML-TEI files encoding information
               about the creation of the Two Trees of Valinor, as they appear in the works of J.R.R.
               Tolkien.</p>
            <p>This file was created as part of an exercise for the XML course taught in the second
               year of the Master's program in Technologies Numériques appliquées à l'Histoire
               (TNAH) at the École nationale des chartes.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <!-- 
   The choices made in this ODD regarding the selection of elements and attributes are designed to highlight the linguistic richness of Tolkien's imaginary world.   
   Attributes such as `@type` and `@ref` were included to allow for precise categorization, and linking of names to their aliases or other references. 
   These decisions enable adding more complex linguistic annotations or linking entities to external resources like 'The Tolkien Gateway' in the list of named entities present in the teiHeader. 
   This modular approach ensures that the ODD can evolve alongside the project, supporting future scholarly or pedagogical needs.
-->

   <text>
      <body>
         <!-- DESCRIPTION -->
         <head>A TEI customization for Tolkien's works</head>
         <p>This TEI ODD defines the rules of a TEI customization for encoding the works of J.R.R.
            Tolkien, and more especially extracts from the Silmarillion and the Book of the Lost
            Tales.</p>
         <p>It includes the main elements from the header module : <list rend="numbered">
               <item>
                  <gi>teiHeader</gi> from the header module to store required metadata</item>
               <item>
                  <gi>fileDesc</gi> from the header module to record information about this
                  file</item>
               <item>
                  <gi>titleStmt</gi> from the header module to record information about the
                  title</item>
               <item>
                  <gi>publicationStmt</gi> from the header module to detail how it is
                  published</item>
               <item>
                  <gi>sourceDesc</gi> from the header module to record where it is from</item>
            </list>
            <!-- A MODIFIER !!! --> It also contains the entire "core" module and the entire "tei"
            module. Finally it also includes most of the elements from the "textstructure" module,
            but with a modification to exclude the numbered divs 1-7, as we rather want to use
            simple <gi>div</gi>s with <att>type</att>. We also exclude <gi>back</gi> and
               <gi>front</gi> as we want our main encoding to be stored in the <gi>body</gi>. </p>

         <!-- DEBUT DE LA CUSTOMISATION -->
         <schemaSpec ident="Tolkien_tei" start="TEI ">
            <desc>A simple TEI customization to encode the works of J.R.R. Tolkien.</desc>
            <moduleRef key="tei"/>
            <!-- loads the "tei" module -->
            <classRef key="att.textCritical"/>
            <!-- loads the "text.Critical" module -->
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <!-- removing unused attributes from the module -->
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <!--Checking module namesdates-->
            <classRef key="att.datable.custom"/>
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
               include="orgName persName addName geogName listOrg listPerson listPlace org person place"/>
            <elementSpec ident="orgName" mode="change">
               <!-- removing unused attributes from the element orgName-->
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <!-- removing unused attributes from the element persName -->
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="addName" mode="change">
               <!-- removing unused attributes from the element addName-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="geogName" mode="change">
               <!-- removing unused attributes from the element geogName-->
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listOrg" mode="change">
               <!-- removing unused attributes from the element listOrg-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <!-- removing unused attributes from the element listPerson-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <!-- removing unused attributes from the element listPlace-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="org" mode="change">
               <!-- removing unused attributes from the element org-->
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <!-- values of an attribute to define the nature of a group of people -->
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="race"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="person" mode="change">
               <!-- removing unused attributes from the element person -->
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="place" mode="change">
               <!-- removing unused attributes from the element place -->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <!-- values of an attribute to define the type of place mentioned -->
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="building"/>
                        <valItem ident="lake"/>
                        <valItem ident="region"/>
                        <valItem ident="tree"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <classSpec ident="att.datable.custom" type="atts" mode="change">
               <!-- removing unused attributes from the module-->
               <attList>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global.responsibility" type="atts" mode="change">
               <attList>
                  <attDef ident="cert" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
               include="p q gap date list item note author editor title publisher biblScope pubPlace bibl"/>
            <!-- removing unused attributes from the core module elements -->
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="q" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <!-- values to define the type of date mentionned in the text -->
                     <valList mode="add" type="closed">
                        <valItem ident="era"/>
                        <valItem ident="event"/>
                        <valItem ident="publication"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblScope" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="book"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
               include="teiHeader fileDesc titleStmt publicationStmt availability licence sourceDesc encodingDesc projectDesc samplingDecl profileDesc revisionDesc"/>
            <!-- removing unused attributes from the header elements -->
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="projectDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="samplingDecl" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <moduleRef key="linking" include="link"/>
            <elementSpec ident="link" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body div"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus" include="particDesc settingDesc"/>
            <elementSpec ident="particDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settingDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
