XML/templates/TolkienTemplate.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">Tolkien Template</title>
            <title>Tolkien Template</title>
         </titleStmt>
         <publicationStmt>
            <p>This file was created as part of an exercise for the XML course taught in the
               second year of the Master's program in Technologies Numériques appliquées à l'Histoire
               (TNAH) at the École nationale des chartes.</p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base odd</ref> after an analysis of 3 files in /home/maelys-gioan/Documents/SCOLAIRE/TNAH/Git/COURS_XML/ProjetXML_Tolkien/XML/corpus/</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <!--Checking module namesdates-->
            <classRef key="att.datable.custom"/>
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
                       include="orgName persName addName geogName listOrg listPerson listPlace org person place"/>
            <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="addName" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="geogName" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listOrg" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="org" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="race"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="person" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="place" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="building"/>
                        <valItem ident="lake"/>
                        <valItem ident="region"/>
                        <valItem ident="tree"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <classSpec ident="att.datable.custom" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global.responsibility" type="atts" mode="change">
               <attList>
                  <attDef ident="cert" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
                       include="p q gap date list item note author editor title publisher biblScope pubPlace bibl"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="q" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="era"/>
                        <valItem ident="event"/>
                        <valItem ident="publication"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblScope" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="book"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt publicationStmt availability licence sourceDesc encodingDesc projectDesc samplingDecl profileDesc revisionDesc"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="projectDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="samplingDecl" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <moduleRef key="linking" include="link"/>
            <elementSpec ident="link" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body div"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus" include="particDesc settingDesc"/>
            <elementSpec ident="particDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settingDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
