XML/templates/TolkienTemplate.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <!-- 
   This ODD is part of a study dedicated to the exploration of J.R.R. Tolkien's universe, with a focus on the names and aliases that populate his fictional world. 
   The specific focus on the Two Trees of Valinor offers insights into how Tolkien wove linguistics, mythology, and narrative coherence into his work. 
   This template can serve as a framework for encoding texts related to Tolkien's writings and can be extended to include other areas and names of his mythology. 
   Possible uses include scholarly research on Tolkien’s languages, analyzing naming conventions and their contextual relevance, and building annotated editions of his texts. 
-->

   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Tolkien Template</title>
            <author>Maëlys Gioan</author>
         </titleStmt>
         <publicationStmt>
            <authority>Maëlys Gioan</authority>
            <availability status="free">
               <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
                  Creative Commons Attribution-ShareAlike 4.0 </licence>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref
                  target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base
                  odd</ref> after an analysis of 3 files in ProjetXML_Tolkien/XML/corpus/</p>
            <p>This ODD was created as part of a study on Tolkien's universe, focusing on the names
               and aliases within it. Its purpose is to validate XML-TEI files encoding information
               about the creation of the Two Trees of Valinor, as they appear in the works of J.R.R.
               Tolkien.</p>
            <p>This file was created as part of an exercise for the XML course taught in the second
               year of the Master's program in Technologies Numériques appliquées à l'Histoire
               (TNAH) at the École nationale des chartes.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <!-- 
   The choices made in this ODD regarding 
   This modular approach ensures that the ODD can evolve alongside the project, supporting future scholarly or pedagogical needs.
-->

   <text>
      <body>
         <!-- DESCRIPTION -->
         <head>A TEI customization for Tolkien's works</head>
         <p>This TEI ODD defines the rules of a TEI customization for encoding the works of J.R.R.
            Tolkien, and more especially extracts from the Silmarillion and the Book of the Lost
            Tales.</p>
         <p>It includes the main elements from the header module and the entire "tei" module. Only
            the elements relevants to the corpus where kept, from the "core", "textstructure",
            "namesdate", "corpus" and "linking" modules.</p>
         <p> The selection of elements and attributes are designed to highlight the linguistic
            richness of Tolkien's imaginary world. Attributes such as <att>type</att> and
               <att>ref</att> were included to allow for precise categorization, and linking of
            names to their aliases or other references. These decisions enable adding more complex
            linguistic annotations or linking entities to external resources like <ref
               target="https://tolkiengateway.net/wiki/Main_Page">Tolkien Gateway</ref> in the list
            of named entities present in the teiHeader.</p>

         <!-- RULE CONSTRAINING THE USE OF THE STATUS IN THE AVAILABILITY ELEMENT DEPENDING ON ITS ENVIRONMENT-->

         <constraintSpec ident="availability" scheme="schematron">
            <desc>Ensure that the <att>status</att> attribute of the <gi>availability</gi> element is set to "restricted" when the <gi>licence</gi> element contains the word "copyright".</desc>
            <constraint>
               <sch:rule context="//availability[licence[contains(., 'copyright')]]">
                  <sch:assert test="@status = 'restricted'">
                     The @status attribute must be "restricted" when the &lt;licence&gt; element references copyright.
                  </sch:assert>
               </sch:rule>
            </constraint>
         </constraintSpec>

         <!-- ELEMENTS CUSTOMISATION-->
         <schemaSpec ident="Tolkien_tei" start="TEI ">
            <desc>A simple TEI customization to encode the works of J.R.R. Tolkien.</desc>
            <moduleRef key="tei"/>
            <!-- loads the "tei" module -->
            <classRef key="att.textCritical"/>
            <!-- loads the "text.Critical" module -->
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <!-- removing unused attributes from the module -->
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <!--Checking module namesdates-->
            <classRef key="att.datable.custom"/>
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
               include="orgName persName addName geogName listOrg listPerson listPlace org person place"/>
            
            
            <!-- RULES CONSTRAINING THE USE OF CERTAIN ELEMENTS OR ATTRIBUTES -->
            
            <!-- Rule constraining the sequence of elements in the person element from the teiHeader-->
            
            <elementSpec ident="person" mode="change">
               <desc>Description of a person from Tolkien's universe. Each <gi>person</gi> element must have, in that order : 
                  <list rend="numbered">
                     <item>One <gi>persName</gi> element,</item>
                     <item>Optionnaly, one <gi>note</gi> element.</item>
                  </list>
               </desc>
               <content>
                  <sequence>
                     <elementRef key="persName" minOccurs="1" maxOccurs="1"/>
                     <elementRef key="note" minOccurs="0" maxOccurs="1"/>
                  </sequence>
               </content>
               <!-- removing unused attributes from the element person -->
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <person>
                        <PersName></PersName>
                     </person>
                  </egXML>
               </exemplum>
            </elementSpec>
            
            <!-- Rule constraining the use of the attribute @type and its values -->
            
            <elementSpec ident="place" mode="change">
               <desc>Description of a place from Tolkien's universe. The nature of the place are
                  encodent in the <att>type</att> attribute. At this stage of the project, these can
                  only be <val>lake</val>, <val>tree</val>, <att>region</att>, <att>building</att> or <att>country</att>.</desc>
               <!-- removing unused attributes from the element place -->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <!-- values of an attribute to define the type of place mentioned -->
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="lake">
                           <desc>A body of water.</desc>
                        </valItem>
                        <valItem ident="tree">
                           <desc>An individual tree or a forest.</desc>
                        </valItem>
                        <valItem ident="region">
                           <desc>A large geographical area or territory.</desc>
                        </valItem>
                        <valItem ident="building">
                           <desc>A structure such as a house, tower, hall...</desc>
                        </valItem>
                        <valItem ident="country">
                           <desc>A sovereign or defined nation within the fictional universe.</desc>
                        </valItem>
                        <!-- Uncomment the following code to add new type of place -->
                        <!--<valItem ident="newName">
                           <desc>Description of new type</desc>
                        </valItem>-->
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            
            
            <!-- Other elements used for the project -->
            
            <elementSpec ident="orgName" mode="change">
               <desc>Adds the name of a people, race or country in Tolkien's universe</desc>
               <!-- removing unused attributes from the element orgName-->
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <desc>Adds the name of a person from Tolkien's universe</desc>
               <!-- removing unused attributes from the element persName -->
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="addName" mode="change">
               <desc>Adds an alias of a person from Tolkien's universe</desc>
               <!-- removing unused attributes from the element addName-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="geogName" mode="change">
               <desc>Adds the name of a place in Tolkien's universe</desc>
               <!-- removing unused attributes from the element geogName-->
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listOrg" mode="change">
               <desc>List of a group of people, races or countries mentionned in the corpus</desc>
               <!-- removing unused attributes from the element listOrg-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <desc>List of people mentionned in the corpus</desc>
               <!-- removing unused attributes from the element listPerson-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <desc>List of places mentionned in the corpus</desc>
               <!-- removing unused attributes from the element listPlace-->
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="org" mode="change">
               <desc>Description of a group of people, race or country from Tolkien's
                  universe</desc>
               <!-- removing unused attributes from the element org-->
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <!-- values of an attribute to define the nature of a group of people -->
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="race"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <classSpec ident="att.datable.custom" type="atts" mode="change">
               <!-- removing unused attributes from the module-->
               <attList>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global.responsibility" type="atts" mode="change">
               <attList>
                  <attDef ident="cert" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
               include="p q gap date list item note author editor title publisher biblScope pubPlace bibl"/>
            <!-- removing unused attributes from the core module elements -->
            <elementSpec ident="p" mode="change">
               <desc>Adds a paragraph</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="q" mode="change">
               <desc>Adds a quote</desc>
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
               <desc>Mentions a gap in the text of the corpus.</desc>
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <desc>Adds a date with its description as an attrivuet when</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <!-- values to define the type of date mentionned in the text -->
                     <valList mode="add" type="closed">
                        <valItem ident="era"/>
                        <valItem ident="event"/>
                        <valItem ident="publication"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <desc>Adds a list</desc>
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <desc>Adds a note</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <desc>Adds the author of a book.</desc>
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <desc>Adds the editor.</desc>
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <desc>Adds the title of a book.</desc>
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <desc>Adds the publisher of a book.</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblScope" mode="change">
               <desc>Adds the pages from wich the extract was chosen.</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <desc>Adds the place of publication.</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <desc>Adds a bibliography.</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="book"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
               include="teiHeader fileDesc titleStmt publicationStmt availability licence sourceDesc encodingDesc projectDesc samplingDecl profileDesc revisionDesc"/>
            <!-- removing unused attributes from the header elements -->
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="projectDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="samplingDecl" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <moduleRef key="linking" include="link"/>
            <elementSpec ident="link" mode="change">
               <desc>Links a name to its page on the Tolkien Gateway</desc>
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body div"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus" include="particDesc settingDesc"/>
            <elementSpec ident="particDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settingDesc" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>         
      </body>
   </text>
</TEI>
